<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,900" rel="stylesheet">
</head>

<body>
  <div class="login-box" id="login-box">
    <div class="title">Lensflare</div>
    <br />
    <form action="/" method="post">
      Email:<br /><input class="text-box" name="email" type="text"></input><br />
      Password:<br /><input class="text-box" name="password" type="password"></input>
      <br />
      <div style="color:red; font-size:12px">
        <% if (message.length > 0) { %>
          <%= message %>
        <% } %>
      </div>
      <br />
      <button class="login-button" type="submit">Submit</button><br /><br />
    </form>
    <a href="signup" style="font-size:11px; text-decoration:none; color:black;">create an account</a>
  </div>
</body>
