.title {
  font-weight: 300;
  color: #4d6bff;
  font-size: 40px;
}

.museums-title {
  font-weight: 300;
  color: #4d6bff;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 205px;
  width: 300px;
  margin-top: -105px;
  margin-left: -160px;
  line-height: 150%;
}

.logout {
  background-color: inherit;
  border: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.db-content {
  padding-top: 15px;
  padding-left: 205px;
  padding-right: 10px;
}
.db-title {
  font-weight: 300;
  color: #4d6bff;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4d6bff;
  padding-left: 205px;
}

.sidebar {
  /*background-color: #f0f0f0;*/
    background-color: #ffffff;
  position: fixed;
  width: 190px;
  border-right: 1px solid #4d6bff;
  height: 100%;
  top: 0px;
  padding-left: 5px;
  line-height: 200%;
}

.db-table th {
  font-size: 50px;
  font-weight: bold;
}

.db-table td {
  vertical-align: top;
  padding: 7px;
}

.db-table {
  width: 100%;
  border-collapse: collapse;
}

.edit-button {
  font-family: 'Raleway', sans-serif;
  width: 50px;
  font-size: 12px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 3px;
  float: right;
}

.logout-button {
  position: fixed;
  bottom: 0;
  width: 203px;
  background-color: #4d6bff;
  color: white;
  text-align: center;
  left: 0;
  font-size: 16px;
  height: 25px;
  padding-top: 3px;
}

.text-box {
  width: 100%;
}
.login-button {
  font-family: 'Raleway', sans-serif;
  width: 100px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #4d6bff;
  border-radius: 5px;
  padding: 3px;
  /*transition-duration: 0.4s;*/
  /*-webkit-transition-duration: 0.4s;*/
}

.input-text {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: inherit;
  white-space: pre-wrap;
  border: 1px solid #dbe1ff;
  border-radius: 4px;
  resize: none;
}

.login-button:hover {
  /*border: 2px solid #4d6bff;*/
  box-shadow: 0 2px 15px #dbe1ff;
}

.edit-button:hover {
  text-decoration: underline;
}

body {
  font-family: 'Raleway', sans-serif;
  margin-right:0px;
}

button:focus {
  outline: none;
}
